HOST=0.0.0.0
PORT=8000
TIME_ZONE=Europe/Moscow
USE_TZ=True
DEBUG=true
ALLOWED_HOSTS="127.0.0.1, localhost"
WORKERS=2
TG_TOKEN=
LOG_LEVEL="info"

DATABASE_URL="postgres://<USERNAME>:<PASSWORD>@db:5432/db"

POSTGRES_USER=<USERNAME>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=db
DB_HOST=db
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL = admin@pgadmin.com
PGADMIN_DEFAULT_PASSWORD = "password"

CELERY_BROKER_URL = "redis://redis:6379"
CELERY_RESULT_BACKEND = "redis://redis:6379"